@import url(arrow.css);
@media screen and (max-width: 780px) {
  .main-menu--mobile {
    z-index: 15;
    position: absolute;
    display: block;
    width: 40px;
    height: 37px;
    right: 0;
    top: 0;
    cursor: pointer; }
    .main-menu--mobile span {
      display: block;
      width: 30px;
      height: 2px;
      background: #49cbcd;
      border-radius: 1px;
      position: absolute; }
    .main-menu--mobile.active .main-menu--mobile-middle {
      opacity: 0;
      transition: all .5s; }
    .main-menu--mobile.active .main-menu--mobile-top {
      top: 17px;
      transform: rotate(45deg);
      transition: all .5s; }
    .main-menu--mobile.active .main-menu--mobile-bottom {
      top: 17px;
      transform: rotate(-45deg);
      transition: all .5s; }
  .main-menu__list {
    display: none;
    position: absolute;
    top: 37px;
    width: 100%;
    max-width: 320px;
    text-align: center;
    right: 0;
    transition: all .5s; }
  .main-menu__list.active {
    display: block;
    right: 0;
    transition: all .5s; }
  .main-menu__item {
    display: block;
    background: #fff;
    width: 100%;
    max-width: 320px;
    height: auto;
    margin-right: 0; }
    .main-menu__item:last-child {
      margin-right: 1px; }
  .main-menu__link {
    padding: 10px 30px;
    height: auto;
    display: inline-block;
    width: 100%; }
    .main-menu__link:hover {
      padding-bottom: 7px; }
  .main-menu--mobile-top {
    top: 7px;
    transition: all .5s; }
  .main-menu--mobile-middle {
    top: 17px;
    opacity: 1;
    transition: all .5s; }
  .main-menu--mobile-bottom {
    top: 27px;
    transition: all .5s; } }

@font-face {
  font-family: "Lobster";
  src: url("fonts/Lobster.ttf"); }

* {
  padding: 0;
  margin: 0; }

.home {
  height: 100vh;
  width: 100%;
  background: url("../img/home__bg.jpg") 0 0 no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden; }

.home__overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: url("../img/overlay.png") 0 0 repeat;
  z-index: 1;
  overflow: hidden; }

.home__heading {
  box-sizing: border-box;
  position: absolute;
  color: #fff;
  z-index: 2;
  text-align: center;
  width: 100%;
  top: 40%;
  margin: 0 auto;
  padding: 15px;
  font-family: 'Open sans', sans-serif; }
  .home__heading h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    margin: 20px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 10px; }

.scroll-down {
  display: block;
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 90vh;
  margin-left: -20px;
  z-index: 2; }

.header {
  width: 100%;
  background: #fff;
  position: absolute;
  z-index: 10; }

.header-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  max-width: 1440px;
  margin: 0 auto;
  background: #fff;
  border-bottom: 1px solid lightgrey; }

.header__logo {
  display: inline-block;
  vertical-align: middle;
  height: 37px; }
  .header__logo span {
    display: inline-block;
    vertical-align: middle;
    font-family: Lobster, sans-serif;
    font-size: 18px;
    color: #44c0c2;
    padding: 7px 15px;
    text-decoration: none; }

.main-menu {
  display: inline-block;
  vertical-align: middle;
  position: relative; }

.main-menu__item {
  display: inline-block;
  list-style-type: none; }
  .main-menu__item:last-child {
    margin-right: 15px; }

.main-menu__link {
  box-sizing: border-box;
  display: inline-block;
  font-size: 15px;
  color: #484c55;
  text-decoration: none;
  vertical-align: middle;
  padding: 10px 20px; }
  .main-menu__link:hover {
    background-color: #f8f9fb;
    border-bottom: 3px solid #49cbcd;
    padding-bottom: 7px; }

.main-menu--mobile {
  display: block; }

.about {
  overflow: hidden;
  position: relative;
  background: #fcfeff;
  padding: 0 10px 50px; }
  .about .section__heading {
    margin-top: 100px; }

.section__heading {
  font-family: Raleway, sans-serif;
  letter-spacing: 5px;
  font-size: 26px;
  margin: 0 auto 50px;
  text-align: center;
  text-transform: uppercase;
  position: relative; }
  .section__heading:after {
    content: '';
    display: block;
    width: 80px;
    height: 2px;
    background: lightgrey;
    margin: 25px auto 0;
    text-align: center; }

.skills__list, .portfolio__list {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  justify-content: center;
  -ms-flex-pack: center;
  justify-content: space-around; }

.skills__item {
  text-align: center;
  margin: 20px;
  border: none;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
  transition: all 0.3s; }
  .skills__item:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.3s; }

.skills__item__img {
  width: 110px;
  height: 110px;
  position: relative;
  margin: 25px auto 0; }

.skills__item__img-holder {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%; }

.skills__item__pic {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border: none;
  max-width: 100%;
  max-height: 100%; }

.skills__item__heading {
  display: block;
  margin: 20px auto; }

.works {
  background: #f9f9f9;
  padding: 100px 10px; }

.portfolio__item {
  position: relative;
  width: 400px;
  height: 200px;
  margin-top: 60px;
  -webkit-perspective: 600; }
  .portfolio__item:hover .portfolio-bg {
    transform: rotateY(180deg);
    transition: all 1s;
    opacity: 0; }
  .portfolio__item:hover .portfolio__description {
    transform: rotateY(0deg);
    transition: all 1s;
    opacity: 1; }

.portfolio-bg {
  position: absolute;
  width: 100%;
  max-height: 100%;
  transform: rotateY(0deg);
  z-index: 1;
  opacity: 1;
  transition: all 1s;
  border: 1px solid #f9f9f9; }

.portfolio__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #f0ede7;
  color: #8b7d5e;
  padding: 20px;
  animation: rotate2 2s;
  z-index: 0;
  opacity: 0;
  transition: all 1s;
  transform: rotateY(-180deg); }
