.arrows-holder {
  width: 40px;
  height: 40px;
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  
}

.arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  /**/
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
}
.arrows:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 3.33333px solid rgba(0, 0, 0, 0.7);
  border-bottom: 3.33333px solid rgba(0, 0, 0, 0.7);
  transform: translate(3.33333px, 13.33333px) rotate(-45deg);
  animation: arrows 3s linear infinite;
}
.arrows:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 3.33333px solid rgba(0, 0, 0, 0.7);
  border-bottom: 3.33333px solid rgba(0, 0, 0, 0.7);
  transform: translate(6.66667px, 0px) rotate(-45deg);
  animation: arrows 3s linear infinite -1.5s;
}

@keyframes arrows {
  0% {
    border-left: 3.33333px solid rgba(255, 255, 255, 0);
    border-bottom: 3.33333px solid rgba(255, 255, 255, 0);
    transform: translate(-1.66667px, -6.66667px) rotate(-45deg);
  }
  10%, 90% {
    border-left: 3.33333px solid rgba(255, 255, 255, 0);
    border-bottom: 3.33333px solid rgba(255, 255, 255, 0);
  }
  50% {
    border-left: 3.33333px solid rgba(255, 255, 255, 0.7);
    border-bottom: 3.33333px solid rgba(255, 255, 255, 0.7);
    transform: translate(-1.66667px, 0px) rotate(-45deg);
  }
  100% {
    border-left: 3.33333px solid rgba(255, 255, 255, 0);
    border-bottom: 3.33333px solid rgba(255, 255, 255, 0);
    transform: translate(-1.66667px, 6.66667px) rotate(-45deg);
  }
}
